:root {
    --color-sidebar: #1e293b;
    --color-letras-dentro-sidebar: #ffffff; 

}
body {display: flex; flex-direction: row;}

aside {width: 240px;
    background-color: var(--color-sidebar);
    min-height: 100vh;
    a {
        color: var(--color-letras-dentro-sidebar);
    }
}
.metrics{display: grid; 
    grid-template-columns: repeat(3,1fr);
}